body {
    background: url("../img/main-bg.jpg") repeat-x;
    background-size: cover;
    font-size: 14px;
}

/* Logo */
.main-logo {
    width: 100px;
    margin-right: 18px;
    float: left;
}

.logo {
    display: inline;
}

/* Content */
.container {
    width: 99%
}

.rightCol {
    width: 100%;
    float: left;
    padding: 10px
}

.chart {
    height: 300px;
    width: 500px;
    border: 1px inset black;
    padding: 5px;
}

.selectPoll {
    clear: both;
    background: #e1ebb3;
    padding: 10px;
    border: 1px solid #b38300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.pollSelectBtn {
    width: 120px;
    height: 30px;
    overflow: hidden;
    float: left;
}

.voteDiv {
    margin: 0 3px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 30px;
}

.rightCol {
    height: 100%;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.vote-question {
    font-size: 56px;
    font: bold 56px arial, sans-serif;
    color: #4D4444;
    text-shadow: 1px 1px 1px rgba(142, 118, 123, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 0 auto;
    margin-right: 98px;
}

.block {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    background: inherit;
    position: relative;
}

.block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    -webkit-filter: blur(10px) saturate(2);
}

.title {
    font-size: 1.4em;
    font-weight: 300;
    color: #222;
    padding: 8px;
    background: rgba(235, 235, 235, 0.85);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content {
    padding: 8px;
    background: rgba(255, 255, 255, 0.66);
}

/* Vote buttons */

.btn-vote {
    font-size: 40px;
    display: block;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 10px;
}

button.best, button.good, button.bad {
    height: 98px;
    padding: 3px;
    padding-left: 82px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.best, .best:active {
    background: transparent url("../img/smiles/smile1.jpg") no-repeat;

}

.good, .good:active {
    background: transparent url("../img/smiles/smile3.jpg") no-repeat;

}

.bad, .bad:active {
    background: transparent url("../img/smiles/smile2.jpg") no-repeat;

}

button.best, .btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: rgb(68, 157, 68);
    border-color: rgb(57, 132, 57);
}

button.good, .btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

button.bad, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #C41F22;
    border-color: #C41F22;
}

button.confirm.activated, button.confirm {
    font-size: 41px;
    padding: 0 50px;
}

.best:disabled, .good:disabled, .bad:disabled {
    background-color: #d9d9d9;
    opacity: 1;
    border: groove;
}

.form-control {
    font-size: 28px;
    height: 54px;

}

/*Feedback form*/

.control-label {
    font-size: 18px;
}

.btn-msg-submit,  .btn-msg-cancel{
    font-size: 23px;
}

.btn-msg-submit {
    background-color: #286090;
    border-color: #204d74;
}

button.btn-msg-submit, .btn-msg-submit:hover, .btn-msg-submit:focus, .btn-msg-submit.focus, .btn-msg-submit:active, .btn-msg-submit.active, .open > .dropdown-toggle.btn-msg-submit {
    background-color: #286090;
    border-color: #204d74;
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 12px;
}